<div id="container">
	
	<% if flash[:success] %>
	<div class="alert-success">
		<%= flash[:success]%><br>
	</div>
	<%end%>
	<% if flash[:error] %>
		<div class="alert-error">
		<%= flash[:error]%><br>
	</div>
	<%end%>
	<script>
		alertMessage();
	</script>
	
	<script>alertMessage()</script>
	<h3>Hi <%= @client.name %>, it's good to have you here!</h3>
	<br>
	<h5>Go to <%= link_to 'Menu', categories_path(@client) %> </h5>
	<!-- <h5>Back to your <%= link_to "Table", table_path(@client.table) %></h5> -->
	<% if @client.table.requested %>
		<h5>Waiter has been called</h5>
	<%else%>
	
	<h5><%=link_to "Call waiter", toggle_request_table_path(@client.table,table_id: @client.table), user: 2, method: :post %></h5>
	<%end%>

	<div id="order">
		<h5>You've ordered:</h5>
		<hr>
		<% if @client.dishes.empty? %>
			<h5>Aren't you hungry?</h5>
		<%end%>
		<% @client.dishes.each do |d| %>
			<div class="product">
				<div class="left"><%= d.title %></div>

				<div class="right">
					<%= number_with_precision(d.price, :precision =>2) %>
				</div>
			<br>
			</div>
		<%end%>
		<hr>
		<h6 class='right' style="font-size:18px;">Total: <%= number_with_precision(@client.owe, :precision =>2) %></h6>
	</div>
	<br><br>
	
</div>