<div id="container">

<h3>Management</h3>

<%= link_to 'Manage Tables', waiters_manage_tables_path%><br>
<%= link_to 'Manage Waiters', waiters_manage_employees_path%><br>
<%= link_to 'Manage Dishes', waiters_manage_dishes_path%><br>
<%= link_to 'Manage Categories', waiters_manage_categories_path%><br>
<%= link_to 'Stats', waiters_stats_admin_path %>
</div>