<div id="container">
	<h3>Manage Tables</h3>
	<% if flash[:success] %>
	<div class="alert-success">
		<%= flash[:success]%><br>
	</div>
	<%end%>
	<% if flash[:error] %>
		<div class="alert-error">
		<%= flash[:error]%><br>
	</div>
	<%end%>
	<script>
		alertMessage();
	</script>
	<% @tables.each do |t|%>
		(<%= link_to 'X', table_path(t),method: :delete, data: { confirm: 'Are you sure you want to remove the table?' }%>)
		Table <%= t.number %> (id: <%= t.id %>)<br>
		Code: <%= t.code %><br>
		Waiter in charge: <%= t.waiter.name %><br>
		<hr>
	<% end %>
	<br>
	<h3>Add Table</h3>
	<%= render 'tables/add_table'  %>
</div>