<div id="container">
	<h3>Manage Tables</h3>
	<% if flash[:success] %>
	<div class="alert-success">
		<%= flash[:success]%><br>
	</div>
	<%end%>
	<% if flash[:error] %>
		<div class="alert-error">
		<%= flash[:error]%><br>
	</div>
	<%end%>
	<script>
		alertMessage();
	</script>
	<% @tables.each do |t|%>
		
		Table <%= t.number %> (id: <%= t.id %>)
		<br>
		Code: <%= t.code %>
		<div class="right">
		<%= link_to 'Edit table', edit_table_path(t) %>
		</div>
		<br>
		<% if t.waiter.present? %>
			Waiter in charge: <%= t.waiter.name %>
			<%else%>
			No one is in charge
		<%end%>
		<div class="right">
		<%= link_to 'Delete table', table_path(t),method: :delete, data: { confirm: 'Are you sure you want to remove the table?' }%>
		</div><br>

		
		<hr>
	<% end %>
	<br>
	<h3>Add Table</h3>
	<%= render 'tables/add_table'  %>
</div>