<div id="container">
	<h3>Manage Employees</h3>
	<% if flash[:success] %>
	<div class="alert-success">
		<%= flash[:success]%><br>
	</div>
	<%end%>
	<% if flash[:error] %>
		<div class="alert-error">
		<%= flash[:error]%><br>
	</div>
	<%end%>
	<script>
		alertMessage();
	</script>
<% @waiters.each do |w| %>
	(<%= link_to 'X', waiter_path(w),method: :delete, data: { confirm: 'Are you sure you want to remove the employee?' }%>)<%= w.name %>
		<% if !is_admin(w) %>
		 - Tables:
			<% w.tables.each do |t| %>
				<%= t.number %>/
			<%end%>	
		<%else%>
			(Admin)
		<%end%>
	<br>
<%end%>
	<div id="addEmployee">
		Add new Employee
		<%= render  'add_waiter' %>
	</div>
</div>