<div id="container">
	<h3>Manage Employees</h3>
	<br>
	<% if flash[:success] %>
	<div class="alert-success">
		<%= flash[:success]%><br>
	</div>
	<%end%>
	<% if flash[:error] %>
		<div class="alert-error">
		<%= flash[:error]%><br>
	</div>
	<%end%>
	<script>
		alertMessage();
	</script>
<% @waiters.each do |w| %>
		Name: <%= w.name %>
		<% if is_admin(w) %>
		 (Admin)
		<%end%>
		<div class="right"><%= link_to 'Edit', edit_waiter_path(w) %></div><br>
		<% if is_admin(w) %>
			In charge of Restaurant
		 <%else%>
			<% if w.tables.count > 0 %>
				In charge of <%=w.tables.count%> Tables 
				(<%= w.tables.collect {|t| t.number}.join ', '  %>)
			<%else%>
				No tables assigned yet
			<%end%>
		<%end%>
		
		<div class="right">
			<%= link_to 'Delete', waiter_path(w),method: :delete, data: { confirm: 'Are you sure you want to remove the employee?' }%><br></div>
	<br>
	<hr>
<%end%>
	<div id="add">
		Add new Employee
		<%= render  'add_waiter' %>
	</div>
</div>
