<div id="container">
	<h3>Manage Categories</h3>
	<br>
	<% if flash[:success] %>
	<div class="alert-success">
		<%= flash[:success]%><br>
	</div>
	<%end%>
	<% if flash[:error] %>
		<div class="alert-error">
		<%= flash[:error]%><br>
	</div>
	<%end%>
	<script>
		alertMessage();
	</script>

	<% @categories.each do |c| %>
		Name: <%= c.name %> 
		<div class="right"><%= link_to "Edit", edit_category_path(c) %> </div>
		<br>
		Description:
		<div class="right">
		<%= link_to "Delete", category_path(c), method: :delete, data: {confirm: 'Are you sure you want to delete this category?'}
		%>
		</div>
		<br> 
		<%= c.description %><br>
		<hr>
	<%end%>
	<div id="add">
		Add a Category
		<%= render 'categories/add_category' %>
	</div>
</div>