<% @tables.each do |t| %>
<% if (t.waiter == current_waiter || current_waiter.admin ) %>
<div id="tables" class="table<%=t.number%>">
	<% if  t.requested %>
	<script>
		$(".table<%=t.id%>").css("background-color","#F00");
	</script>
	<% end %>
	<h6>
	-(<%=t.clients.count%>) <%= link_to "Table #{t.number}", table_path(t) %> 
	<%=  %> (<%= t.code %>) <div id="table<%=t.number%>" class="toggle-hide">Show</div>-
	</h6>
	<br>
	<div id="table<%=t.number%>-content" class="tables-content"> 
	<% t.clients.each do |c| %>
		<%= link_to c.name, table_client_path(t,c) %> 
		(<%= number_with_precision(c.owe, :precision => 2) %>)
		
		<%= link_to 'Delete',
              table_client_path(t,c),
              method: :delete, data: { confirm: 'Do you really want to delete this client?' }, :class => 'right' %>
        <% if c.checking_out %>
			<span style="color:green" class="right">(<%= c.payment_method %>)</span>
		<%end%>
		<br>
		<div style="padding-left:15px;">
		<% c.dishes.each do |d| %>
			<%= d.title %><br>
		<%end%>
		</div>
	<% end %>
	<% if t.clients.count != 0 %>
	<br>
	Total: <%= number_with_precision(t.owe, :precision => 2) %>
	<br><br>
	<%= link_to "toggle requested", toggle_request_table_path(t,table_id: t, user: 1), method: :post %>
	<br>
	<%= link_to "Finish table", finish_table_table_path(t.waiter,table_id: t.id), method: :post%>
	<%else%>
		Empty Table
	<%end%>
</div> <!-- TableX-content -->
</div>
<%end%>
<%end%>