<div id="container">
	<div style="position: absolute; left: 50%;">
		<div style="position: relative; left: -50%; border: dotted red 1px;">
			<%= image_tag @dish.pic.url(:original), :id => 'blur'%>
			<div style="position: absolute; left: 50%;">
				<div style="position: relative; left: -50%; border: dotted red 1px;">
				</div>
			</div>
			
		</div>
	</div>
		
	
	<h1><%= @dish.title %></h1>
	
	
	<div id="info">
		Description:<h4><%= @dish.description %></h4>
		Price: $<%= number_with_precision(@dish.price, :precision => 2) %><br>
		<%= link_to "Order it!", add_dish_table_client_path(current_table, current_client, dish_id: @dish.id), method: :post%>
	</div>	
	
</div>