<script>
	$("."+"products").hide();
</script>
<div id="container">
<h1>Choose your pick!</h1>
<h3><%= link_to 'Back home', table_client_path(current_table,current_client) %></h3><br>
<% @categories.each do |c| %>
	<h3 class="category" id="<%= c.name %>">- <%= c.name %> -</h3> 
	<h5>(<%= c.description %>)</h5><br>
	<div id="<%= c.name %>-products" class="products">
		<% c.dishes.each do |d| %>
			<div class="product">
				<div class="left">
					<%= link_to d.title, category_dish_path(c,d) %>
				</div>
				<div class="right">
					$<%=d.price%> - 
						<%= link_to "Order", add_dish_table_client_path(current_table, current_client, dish_id: d.id), 
						method: :post, data: { confirm: 'Confirm your order' }
					%>
				</div>
			<br>
			</div>
		<%end%>
	</div>
<%end%>
</div>
