<script>
	$("."+"products").hide();
</script>
<div id="container">
<h1>Choose your pick!</h1><br>
<% @categories.each do |c| %>
	<h3 class="category" id="<%= c.name %>">- <%= c.name %> -</h3> 
	<h5>(<%= c.description %>)</h5>
	<br>
	<div id="<%= c.name %>-products" class="products">
		<% c.dishes.each do |d| %>
			<div class="product">
				$<%=d.price%> - 
				<%= d.title %>
						<%= link_to "order", add_dish_table_client_path(current_table, current_client, dish_id: d.id), 
						method: :post, data: { confirm: 'Confirm your order' }
					%>
			<br>
			</div>
		<%end%>
	</div>
<%end%>
</div>
