 <!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_waiter.present? %>
<div id="toolbar">
	Logged as <%= current_waiter.name %> - 
	<%= link_to 'Sign out', sign_out_path, method: :delete %>
	 / <%= link_to "Back to tables", waiters_tables_path %>
   <% if is_admin(current_waiter) %>
      /<%= link_to 'Admin Page', waiters_admin_path%>
   <% end %>
	 <br>
</div>
<%end%>
<%= yield %>
<% if !current_waiter.present? && current_client.present?%>
<div id="bottom_bar" >
  <%=  social_share_button_tag("Having a good time :) ", :url => "https://www.whitespot.ca/menu/bc",:popup => 'true')%>
  <div id="accessibility">
    <div class="bigger" style="display:inline;font-size:28px;margin-right:5px;">+A</div>
    <div class="smaller" style="display:inline;font-size:22px;">-A</div>
  </div>
<%end%>
</div>
</body>
</html>
